################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LockedIn/FileContentIndex/0d2cecd2-6281-45cd-858b-6ec6bfd92712.vsidx
/.vs/LockedIn/FileContentIndex/22a00c7f-984d-4418-aa15-13a0b5f5b2f1.vsidx
/.vs/LockedIn/FileContentIndex/44d73c84-818b-41ec-8a92-805f5ac8a0d0.vsidx
/.vs/LockedIn/FileContentIndex/589bc1fe-99be-4c07-bdd6-cfd590ad96de.vsidx
/.vs/LockedIn/FileContentIndex/651e09e5-189b-477f-a50d-542e3127e437.vsidx
/.vs/LockedIn/FileContentIndex/3132f8fb-5d1d-4614-b888-82a8cd78b713.vsidx
/.vs/LockedIn/FileContentIndex/69a378c3-8493-44f1-87c0-eeae1bdb4fac.vsidx
/.vs/LockedIn/FileContentIndex/bbe5e497-4886-475f-8379-e1b49ec926fe.vsidx
/.vs/LockedIn/FileContentIndex
